.forgot-password-form {
    margin-top: 50px;
  }
  
  .card {
    border-radius: 10px;
  }
  
  .btn {
    background-color: #00264d;
    border: none;
  }
  
  .btn:hover {
    background-color: #003366;
  }
  